doctype html
html
    head
        title Zuttaie
        link(rel='stylesheet', href='main.css')
    body
        .header
            h1 Zuttaie
        p David kan också!
        div
            img.previous
            img.current
            img.next
        a(href='#').lefta LeftA
        a(href='#').righta RightA
        script(src='main.js')

