doctype html
html
    head
        title Zuttaie
        link(rel='stylesheet', href='main.css')
    body
        .header
            h1 Zuttaie
        p David kan också!
        img(src='screenshots/2015-06-23-01.jpg')
        a(href='#').lefta LeftA
        a(href='#').righta RightA
        script(src='main.js')

